.container {
  display: flex;
  justify-content: space-between;
  padding-top: 18px;
}

.leftSection {
  position: relative;
  top: 70px;
  width: 590px;
  height: 470px;
  padding-left: 10px;
}

.leftSection p {
  margin-top: 10px;
  color: rgb(0, 0, 0);
  font-size: 14.5px;
  font-family: Helvetica, sans-serif;
}

.leftSection h2 {
  margin-top: 8px;
  font-size: 43.6px;
  width: 500px;
  color: #1f2123;
}

.btn {
  margin-bottom: 12px;
  padding: 10px;
  background: #fff;
  border: 1px solid rgb(200, 200, 200);
  border-radius: 17px;
  color: #161819;
  font-weight: 500;
}

.leftSectionButton {
  display: flex;
  padding: 35px;
}

.blueBtn {
  background-color: #2069f5;
  padding: 15px;
  display: flex;
  align-items: center;
  border: none;
  border-radius: 9px;
  position: relative;
  right: 36px;
  gap: 6px;
  color: #ffffff;
  font-weight: 400;
  font-weight: 26px;
}

.Contactbtn {
  background-color: #fff;
  border: 1px solid rgb(200, 200, 200);
  color: #161819;
  padding: 10px;
  border-radius: 9px;
  position: relative;
  right: 8px;
  font-weight: 400;
  font-weight: 26px;
}

.userBtnIcon {
  margin-top: 10px;
  padding: 10px;
  display: flex;
  align-items: center;
}

.bigButton {
  display: flex;
  background: #fff;
  padding: 7px;
  color: rgb(76, 73, 73);
  position: relative;
  top: 30px;
  justify-content: space-around;
  border-radius: 7px;
  border: 1px solid rgb(200, 200, 200);
  font-size: 14px;
  width: 510px;
  font-weight: 500;
}

.userBtnIcon {
  gap: 6px;
  font-size: 15px;
}

.rightSectionContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
  width: 530px;
  height: 570px;
  padding-top: 25px;
}
.rightSectionContainerImage{
  width: 530px;
  height: 340px;
  border-radius: 15px;
}

.rightSectionContainerImage1 {
  width: 530px;
  height: 190px;
  border-radius: 15px;
}