.container {
  display: flex;
  justify-content: space-between;
  padding-top: 18px;
  background: #ffffff;
  width: 1500px;
  position: relative;
  right: 155px;
}

.leftSection {
  position: relative;
  top: 70px;
  width: 590px;
  height: 470px;
  position: relative;
  left: 158px;
}

.leftSection p {
  margin-top: 10px;
  color: #161819;
  font-size: 14px;
  font-weight: 400;
  line-height: 22px;
  font-family: Helvetica, sans-serif;
}

.leftSection h2 {
  margin-top: 9px;
  font-size: 45px;
  font-weight: 200;
  width: 500px;
  color: #0d0d0d;
  line-height: 46px;
}

.btn {
  margin-bottom: 12px;
  padding: 10px;
  background: #fff;
  border: 1px solid rgb(200, 200, 200);
  border-radius: 17px;
  color: #161819;
  font-size: 13px;
}

.leftSectionButton {
  display: flex;
  padding: 35px;
}

.StartBtn {
  background-color: #ed2025;
  padding: 15px;
  display: flex;
  align-items: center;
  border: none;
  border-radius: 9px;
  position: relative;
  right: 36px;
  gap: 6px;
  color: #ffffff;
  font-weight: 400;
  font-size: 14px;
}

.Contactbtn {
  background-color: #fff;
  border: 1px solid rgb(200, 200, 200);
  color: #161819;
  padding: 10px;
  border-radius: 9px;
  position: relative;
  right: 8px;
  font-weight: 400;
  font-size: 14px;
}

.userBtnIcon {
  margin-top: 10px;
  padding: 10px;
  display: flex;
  align-items: center;
}

.bigButton {
  display: flex;
  background: #fff;
  padding: 7px;
  color: rgb(76, 73, 73);
  position: relative;
  top: 30px;
  justify-content: space-around;
  border-radius: 7px;
  border: 1px solid rgb(200, 200, 200);
  font-size: 14px;
  width: 510px;
  font-weight: 500;
}

.userBtnIcon {
  gap: 6px;
  font-size: 15px;
}

.rightSectionContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
  right: 190px;
  width: 500px;
  height: 570px;
  padding-top: 25px;
}

.rightSectionContainerImage {
  width: 490px;
  height: 340px;
  border-radius: 15px;
}

.rightSectionContainerImage1 {
  width: 490px;
  height: 190px;
  border-radius: 15px;
}

/* Media query for mobile view */
@media only screen and (max-width: 768px) {
  .container {
    height: 1050px;
    width: 315px;
    position: relative;
    left: 380px;
    display: flex;
    flex-direction: column;
  }

  .leftSection {
    width: 100%;
    position: relative;
    left: 0;
    top: 0;
    padding: 15px;
    box-sizing: border-box;
  }

  .leftSection h2 {
    margin-top: 9px;
    font-size: 26px;
    font-weight: 400;
    width: 310px;
    color: #0d0d0d;
    line-height: 27px;
  }

  .leftSectionButton {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }

  .StartBtn {
    position: relative;
    right: 5px;
  }

  .bigButton {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 14px;
    width: 220px;
    font-weight: 400;
    position: relative;
    left: 28px;
    top: 0px;
  }

  .userBtnIcon {
    display: flex;
    width: 200px;
    font-size: 15px;
    font-weight: 400;
  }

  .rightSectionContainer {
    width: 300px;
    display: flex;
    flex-direction: column;
    position: relative;
    left: 9px;
    top: 160px;
    padding-left: 8px;
  }

  .rightSectionContainerImage {
    width: 280px;
    height: 200px;
    border-radius: 15px;
    position: relative;
    left: 5px;
  }

  .rightSectionContainerImage1 {
    width: 280px;
    height: 200px;
    border-radius: 15px;
    position: relative;
    bottom: 125px;
    left: 5px;
  }
}