.ImproveCareerMainContainer {
  width: 1515px;
  background: #fafafa;
  position: relative;
  right: 170px;
}

.improveCareerContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  height: 500px;
}

.improveCareerContainerHeading {
  position: relative;
  right: 200px;
  top: 28px;
}

.improveCareerContainerHeading h2 {
  position: relative;
  right: 30px;
  font-size: 35px;
  font-weight: 400;
  color: #0d0d0d;
  line-height: 46px;
}

.cardContainer {
  position: relative;
  top: 80px;
  display: flex;
  width: 1100px;
  justify-content: center;
  align-items: center;
  gap: 30px;
  padding: 20px 0;
  position: relative;
}

.card {
  width: 490px;
  height: 240px;
  background-color: #fff;
  padding: 30px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  margin-bottom: 20px;
  justify-content: space-around;
}

.card h2 {
  margin-top: 6px;
  font-size: 30px;
  font-weight: 400;
  color: #0d0d0d;
  line-height: 40px;
}

.card p {
  font-size: 17px;
  margin-top: 14px;
  color: #161819;
  font-size: 17px;
  font-weight: 400;
  line-height: 22px;

}

.RedBtn {
  background-color: #ed2025;
  color: #fff;
  padding: 12px;
  margin-top: 12px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  position: relative;
  top: 33px;
  font-size: 17px;
}

.blueBtn:hover {
  background-color: #062749;
}



@media only screen and (max-width: 768px) {
.ImproveCareerMainContainer {
width: 316px;
height: 850px;
position: relative;
left: 385px;
  }

  .improveCareerContainerHeading{
    width: 315px;
    position: relative;
    left: 40px;
    padding: 10px 0;

    }

    .improveCareerContainerHeading h2{
      font-size: 19px;
      line-height: 24px;
      font-weight: 400;
    }

    .cardContainer{
      position: relative;
      top: 22px;
      width: 315px;
      display: flex;
      flex-direction: column;
      gap: 2px;
  
    }
    .card{
      width: 300px;
      height: 330px;
    }

    .card h2 {
      font-size: 26px;
      line-height: 30px;
    }
    
}