@media only screen and (min-width: 992px) {

  .MainheaderContainer {
    width: 1510px;
    background: #fafafa;
    position: relative;
    right: 155px;
  }

  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
    font-family: "Satoshi Medium", sans-serif;
    width: 1200px;
    position: relative;
    left: 140px;
  }

  .leftSection {
    display: flex;
    align-items: center;
    width: 190px;
  }

  @keyframes fadeIn {
    from {
      opacity: 0;
    }

    to {
      opacity: 1;
    }
  }

  .headerlogo img {
    width: 140px;
    height: 70px;
    opacity: 0;
    animation: fadeIn 1.5s ease-out forwards;
  }

  .navItems {
    display: flex;
    align-items: center;
    font-size: 16px;
    font-weight: 400;
    color: #161819;
    margin-right: 5rem;
    width: 400px;
    justify-content: space-around;
    position: relative;
    left: 270px;
  }

  .navItems a {
    text-decoration: none;
    color: #161819;
  }

  .navItems span {
    margin-right: 15px;
    cursor: pointer;
  }

  .contactButton button {
    background-color: #ed2025;
    color: #ffffff;
    padding: 10px;
    border-radius: 9px;
    position: relative;
    right: 8px;
    font-weight: 400;
    font-size: 14px;
    border: none;
    cursor: pointer;
  }

    /* Hide mobile icon by default in desktop view */
  .mobileIcon {
    display: none;
  }

  .contactButtonMobile {
    display: none;
  }
}

/* Media query for mobile view */
@media only screen and (max-width: 768px) {
  .MainheaderContainer {
    width: 430px;
    position: relative;
    left: 385px;
  }

  .header {
    border: 1px solid black;
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 310px;

  }

  .header > .leftSection {
    width: 150px;
    margin: 18px 12px;
  }

  .headerlogo img {
    width: 150px;
  }

  .navItems {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    background: #fafafa;
    flex-direction: column;
    text-align: center;
    align-items: center;
    z-index: 1;
    width: 310px;
    height: 270px;
    font-weight: 400;
    font-size: 16px;
    cursor: pointer;
  }

  .navItems.active {
    display: flex;
    flex-direction: column;
  }

  .navItems a {
    padding: 15px;
    display: block;
    border-bottom: 1px solid #ccc;
    color: rgb(44, 36, 36);
    text-decoration: none;
  }
  .contactButton {
    display: none;
  }

  .contactButtonMobile button{
    background-color: #ed2025;
    color: #ffffff;
    padding: 10px;
    border-radius: 9px;
    position: relative;
    top: 9px;
    right: 5px;
    font-weight: 400;
    font-size: 18px;
    border: none;
    cursor: pointer;
  }

  .mobileIcon {
    display: block;
    cursor: pointer;
    font-size: 45px;
  }

  .active {
    animation: fadeIn 0.5s ease-out;
  }
}