.MainheaderContainer {
  background: #fafafa;
}

.header {
  display: flex;
  align-items: center;
  font-family: "Satoshi Medium", sans-serif;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.headerlogo img {
  height: 70px;
  opacity: 0;
  animation: fadeIn 1.5s ease-out forwards;
}

.navItems {
  color: #161819;
  cursor: pointer;
}

@media only screen and (min-width: 992px) {

  .MainheaderContainer {
    width: 1510px;
    background: #fafafa;
    position: relative;
    right: 155px;
  }

  .header {
    justify-content: space-between;
    padding: 15px;
    font-family: "Satoshi Medium", sans-serif;
    width: 1200px;
    position: relative;
    left: 140px;
  }

  .leftSection {
    display: flex;
    align-items: center;
    width: 190px;
  }


  .headerlogo img {
    width: 140px;
    height: 70px;
    opacity: 0;
    animation: fadeIn 1.5s ease-out forwards;
  }

  .navItems {
    display: flex;
    align-items: center;
    font-size: 16px;
    font-weight: 400;
    color: #161819;
    margin-right: 5rem;
    width: 400px;
    justify-content: space-around;
    position: relative;
    left: 270px;
  }

  .navItems a {
    text-decoration: none;
    color: #161819;
  }

  .navItems span {
    margin-right: 15px;
    cursor: pointer;
  }

  .contactButton button {
    background-color: #ed2025;
    color: #ffffff;
    padding: 10px;
    border-radius: 9px;
    position: relative;
    right: 8px;
    font-weight: 400;
    font-size: 14px;
    border: none;
    cursor: pointer;
  }

  /* Hide mobile icon by default in desktop view */
  .mobileIcon {
    display: none;
  }

  .contactButtonMobile {
    display: none;
  }
}

/* Media query for mobile view */
@media only screen and (max-width: 768px) {
  .MainheaderContainer {
    width: 100%; 
    display: flex;
    justify-content: space-around;
    position: relative;
    left: 0;
    right: 0;
  }

  .header {
    width: 100%;
  }

  .headerlogo img {
    width: 90px;
    height: 45px;
    padding: 8px;
    position: relative;
    left: 25px;
  }

  .mobileIcon {
    display: block;
    cursor: pointer;
    font-size: 30px;
    position: relative;
    left: 250px;
  }

  .navItems {
    display: none;
    flex-direction: column;
    text-align: center;
    align-items: center;
    z-index: 12;
    padding: 10px 10px;
    font-size: 15px;
    width: 100%;
    position: absolute;
    top: 80px;  
    left: 0;
    background-color: #fff; 
  }

  .navItems.active {
    display: flex;
  }

  .navItems a {
    padding: 15px;
    display: block;
    border-bottom: 1px solid #ccc;
    color: rgb(44, 36, 36);
    text-decoration: none;

  }

  .contactButton {
    display: none;
  }

  .contactButtonMobile button {
    background-color: #ed2025;
    color: #ffffff;
    padding: 10px;
    border-radius: 9px;
    position: relative;
    top: 5px;
    right: 5px;
    font-weight: 400;
    font-size: 15px;
    border: none;
    cursor: pointer;
  }

  .active {
    animation: fadeIn 0.5s ease-out;
  }
}
