
.comprehensiveMainContainer {
  width: 1515px;
  position: relative;
  right: 170px;
}

.comprehensiveContainer {
  padding: 80px 0;
  width: 1524px;
  background: #fafafa;
}

.centerHeading {
  text-align: center;
}

.centerHeading h2 {
  font-size: 47px;
  font-weight: 200;
  color: #0d0d0d;
  line-height: 50px;
}

.centerHeading p {
  position: relative;
  top: 14px;
  color: #161819;
  font-size: 16px;
  font-weight: 400;
  line-height: 22px;

}

.cardSection {
  justify-content: space-around;
  position: relative;
  top: 55px;
  padding: 40px;
  display: flex;
}

.leftCard {
  width: 540px;
  height: 450px;
  border-radius: 22px;
  outline: none;
  border: none;
  padding: 12px;
  position: relative;
  left: 80px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  background: #ffffff;
}

.rightCard {
  overflow: hidden;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  height: 450px;
  width: 540px;
  border-radius: 22px;
  outline: none;
  border: none;
  position: relative;
  right: 60px;
  background: #ffffff;
}

.CardTitle {
  padding: 20px;
  font-size: 28px;
  font-weight: 400;
  color: #0d0d0d;
  line-height: 30px;
}

.CardText {
  padding: 15px;
  color: #161819;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
}

.CardTitle1 {
  padding: 20px;
  font-size: 28px;
  font-weight: 400;
  color: #0d0d0d;
  line-height: 30px;
}

.CardText1 {
  padding: 15px;
  letter-spacing: 1px;
  position: relative;
  left: 4px;
  color: #161819;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
}

.listContainer {
  position: relative;
  top: 28px;
  left: 16px;
  font-size: 16px;
  letter-spacing: 1px;
  font-weight: 500;
  height: 80px;
  color:#000000;
}

.listContainer ul li {
  list-style: none;
  margin: 9px 0;
}

.listContainer ul li svg {
  font-size: 8px;
  margin-right: 4px; 
}

.SeeMoreRedBtn {
  background-color: #ed2025;
  color: #ffffff;
  padding: 15px;
  display: flex;
  align-items: center;
  border: none;
  border-radius: 9px;
  position: relative;
  top: 80px;
  left: 20px;
  gap: 4px;
  font-weight: 500;
  font-size: 14px;
}

.WhiteBtn {
  background-color: #fff;
  border: 1px solid rgb(159, 159, 159);
  color: #161819;
  padding: 12px;
  border-radius: 9px;
  font-weight: 500;
  font-size: 14px;
  position: relative;
  left: 20px;
  top: 80px;
}

/* Media query for tablet and mobile view */
@media only screen and (max-width: 768px) {
  .comprehensiveMainContainer {
    width: 315px;
    position: relative;
    left: 385px;
  }

  .comprehensiveContainer {
    width: 315px;
  }

  .centerHeading h2 {
    font-size: 17px;
    line-height: 22px;
  }

  .centerHeading p {
    font-size: 13px;
    line-height: 13px;
    width: 316px;
    font-weight: 400;
    position: relative;
  }

  .cardSection {
    flex-direction: column;
    top: 30px;
    padding: 20px;
  }

  .leftCard,
  .rightCard {
    width: 280px;
    margin-bottom: 20px;
    left: 0;
    height: 440px;
  }

  .CardTitle,
  .CardTitle1 {
    font-size: 15px;
    line-height: 20px;
    padding: 12px;
  }

  .CardText,
  .CardText1 {
    font-size: 14px;
    line-height: 17px;
    padding: 10px;
  }

  .listContainer {
    top: 10px;
    font-size: 11.2px;
    line-height: 2;
    height: 140px;
  }

  .WhiteBtn {
    position: relative;
    top: 30px;
  }
}
