/* ComprehensiveContainer.module.css */

.comprehensiveMainContainer {
  width: 1515px;
  position: relative;
  right: 170px;
}

.comprehensiveContainer {
  padding: 80px 0;
  width: 1524px;
  background: #fafafa;
}

.centerHeading {
  text-align: center;
}

.centerHeading h2 {
  font-size: 46px;
  font-weight: 500;
  color: #000000;
}

.centerHeading p {
  letter-spacing: 1px;
  position: relative;
  top: 13px;
  color: rgb(0, 0, 0);
  font-size: 14px;
  font-family: Helvetica, sans-serif;

}

.cardSection {
  justify-content: space-around;
  position: relative;
  top: 55px;
  padding: 40px;
  display: flex;
}

.leftCard {
  width: 540px;
  height: 450px;
  border-radius: 22px;
  outline: none;
  border: none;
  padding: 12px;
  position: relative;
  left: 80px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  background: #ffffff;
}

.rightCard {
  overflow: hidden;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  height: 450px;
  width: 540px;
  border-radius: 22px;
  outline: none;
  border: none;
  position: relative;
  right: 60px;
  background: #ffffff;
}

.CardTitle {
  padding: 20px;
  color:#000000;
  font-size: 26px;
  font-weight: 400;
}

.CardText {
  padding: 15px;
  color:#000000;
  font-size: 15px;
  font-family:"Satoshi Regular", sans-serif;
  font-weight: 400;
}

.CardTitle1 {
  padding: 20px;
  color:#000000;
  font-size: 26px;
  font-weight: 400;
}

.CardText1 {
  padding: 15px;
  letter-spacing: 1px;
  position: relative;
  left: 4px;
  color:#000000;
  font-size: 15px;
  font-family:"Satoshi Regular", sans-serif;
  font-weight: 500;
}

.listContainer {
  position: relative;
  top: 28px;
  left: 16px;
  font-size: 16px;
  letter-spacing: 1px;
  font-weight: 500;
  height: 80px;
  color:#000000;
}

.listContainer ul li {
  list-style: none;
  margin: 9px 0;
}

.listContainer ul li svg {
  font-size: 9px;
  margin-right: 4px; 
}

.BlueBtn {
  background-color: #2069f5;
  color: #ffffff;
  padding: 15px;
  display: flex;
  align-items: center;
  border: none;
  border-radius: 9px;
  position: relative;
  top: 120px;
  left: 20px;
  gap: 4px;
  font-weight: 400;
}

.WhiteBtn {
  background-color: #fff;
  border: 1px solid rgb(159, 159, 159);
  color:#000000;
  padding: 12px;
  border-radius: 9px;
  font-weight: 400;
  position: relative;
  left: 20px;
  top: 100px;

}