.clientSection {
  display: flex;
  justify-content: space-between;
  margin: 5rem 0;
}

.clientItem {
  display: flex;
  width: 150px;
  padding: 20px 0;
}

.clientItem img {
  margin-bottom: 10px;
  width: 125px;
  height: 80px;
  position: relative;
  left: 12px;
  justify-content: center;
  align-items: center;
}
