.ProfessionalDevelopmentMainContainer {
  width: 1520px;
  position: relative;
  right: 170px;
  background: #fafafa;
}

.ProfessionalDevelopmentContainer {
  padding: 90px;
  width: 1200px;
  position: relative;
  left: 10.5rem;
}

.heading {
  font-size: 45px;
  font-weight: 400;
  color: #0d0d0d;
  line-height: 46px;
  position: relative;
  right: 50px;
}

.mainText {
  color: #161819;
  margin-top: 10px;
  font-size: 16px;
  font-weight: 400;
  line-height: 28px;
  position: relative;
  right: 50px;
}

.programSection {
  display: flex;
  justify-content: space-between;
  width: 70rem;
  position: relative;
  right: 68px;
  height: 570px;
}

.leftSection {
  margin-top: 18px;
  position: relative;
  height: 380px;
  align-items: center;
  padding: 20px;
  font-size: 15px;
  font-weight: 400;
  color: #000000;
  width: 550px;
}

.leftSectionFirstElement {
  border: 1px solid grey;
  padding: 17px;
  overflow: hidden;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  width: 500px;
}

.leftSectionCardList {
  border: 1px solid rgb(202, 202, 202);
  padding: 17px;
  position: relative;
  margin-top: 19px;
  border-radius: 10px;
  width: 500px;
  cursor: pointer;
}

.leftSectionCardList,
.leftSectionFirstElement {
  display: flex;
  justify-content: space-between;
}

.CardSection {
  justify-content: space-around;
  display: flex;
  width: 460px;
  height: 500px;
  border-radius: 20px;
  position: relative;
  top: 28px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.CardHeading {
  position: relative;
  left: 10px;
  top: 10px;
  color: #0d0d0d;
  font-size: 30px;
  font-weight: 400;
}

.CardSectionText {
  position: relative;
  left: 10px;
  top: 20px;
  position: relative;
  width: 435px;
  color: #161819;
  font-size: 14px;
}

.rightCard img {
  width: 450px;
  height: 170px;
  padding: 9px;
  border-radius: 20px;
  position: relative;
  top: 9px;
}

.learnMoreBtn {
  margin-top: 40px;
  position: relative;
  left: 9px;
  padding: 12px;
  background: #fff;
  border: 1px solid rgb(200, 200, 200);
  border-radius: 8px;
  font-size: 15px;
  font-weight: 400;
}



/* Media query for tablet and mobile view */

@media only screen and (max-width: 768px) {
  .ProfessionalDevelopmentMainContainer {
    height: 1170px;
    width: 315px;
    position: relative;
    left: 385px;
  }

  .ProfessionalDevelopmentContainer {
    position: relative;
    left: 0;
    top: 0;
    padding: 20px;
    width: 100%;
  }

  .heading {
    font-size: 20px;
    line-height: 25px;
    right: 0;
  }

  .mainText {
    font-size: 14px;
    line-height: 19px;
    right: 0;
  }

  .programSection {
    flex-direction: column;
    right: 0; 
  }

  .leftSection {
    width: 295px;
    height: 395px;
  }

  .leftSectionCardList {
    width: 265px;
     position: relative;
    right: 12px; 
    top: 0px;   
  }

  .CardSection {
    width: 280px;
    height: 1200px;
  }

  .rightCard img {
    top: 0;
    width: 280px;
    position: relative;
  }

  .CardHeading {
    position: relative;
    font-size: 18px;
    font-weight: 400;
  }
  
  .CardSectionText {
    position: relative;
    width: 270px;
    font-size: 14px;
  }
  
  .learnMoreBtn {
    font-size: 12px;
    bottom: 9px;
  }
}
