.ProfessionalDevelopmentMainContainer {
  background: #fafafa;
}

.heading {

  font-weight: 400;
  color: #0d0d0d;
  position: relative;
}

.mainText {
  color: #161819;
  margin-top: 10px;
  font-weight: 400;
  position: relative;
  right: 50px;
}

.programSection {
  display: flex;
  position: relative;
}


.leftSection {
  margin-top: 18px;
  position: relative;
  align-items: center;
  padding: 20px;
  font-size: 15px;
  font-weight: 400;
  color: #000000;
}

.leftSectionFirstElement {
  border: 1px solid grey;
  padding: 17px;
  overflow: hidden;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  width: 500px;
}

.leftSectionCardList {
  border: 1px solid rgb(202, 202, 202);
  padding: 17px;
  position: relative;
  margin-top: 19px;
  border-radius: 10px;
  cursor: pointer;

}

.leftSectionCardList,
.leftSectionFirstElement {
  display: flex;
  justify-content: space-between;
}

.CardSection {
  justify-content: space-around;
  display: flex;
  border-radius: 20px;
  position: relative;
  top: 28px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.CardHeading {
  position: relative;
  left: 10px;
  top: 10px;
  color: #0d0d0d;
  font-weight: 400;
}

.CardSectionText {
  position: relative;
  color: #161819;
  font-size: 14px;
}

.rightCard img {
  padding: 9px;
  border-radius: 20px;
  position: relative;
}

.learnMoreBtn {
  position: relative;
  margin-top: 40px;
  background: #fff;
  border: 1px solid rgb(200, 200, 200);
  font-weight: 400;
  border-radius: 8px;
}


@media only screen and (min-width: 992px) {

  .ProfessionalDevelopmentMainContainer {
    width: 1520px;
    position: relative;
    right: 170px;
    background: #fafafa;
  }

  .ProfessionalDevelopmentContainer {
    padding: 90px;
    width: 1200px;
    position: relative;
    left: 10.5rem;
  }

  .heading {
    font-size: 45px;
    line-height: 46px;
    right: 50px;
  }


  .mainText {
    font-size: 16px;
    line-height: 28px;
  }

  .programSection {
    justify-content: space-between;
    width: 70rem;
    right: 68px;
    height: 570px;
  }


  .leftSection {
    height: 380px;
    width: 550px;
  }


  .leftSectionCardList {
    width: 500px;
  }

  .rightCard img {
    width: 450px;
    height: 170px;
    position: relative;
    top: 9px;
  }

  .CardSection {
    width: 460px;
    height: 500px;
  }

  .CardHeading {
    font-size: 30px;
  }

  .CardSectionText {
    left: 10px;
    top: 20px;
    width: 435px;
  }

  .learnMoreBtn {
    left: 9px;
    padding: 12px;
    font-size: 15px;
  }


}

/* Media query for tablet and mobile view */

@media only screen and (max-width: 768px) {
  .ProfessionalDevelopmentMainContainer {
    height: 1100px;
    width: 100%;
    position: relative;
  }

  .ProfessionalDevelopmentContainer {
    position: relative;
    left: 0;
    top: 0;
    padding: 20px;
    border: 1px solid rgb(131, 167, 80);

  }

  .heading{
    /* font-size: 20px;
    line-height: 28px; */
    font-size: 20px;
    width: 320px;
    position: relative;
    top: 10px;
    left: 25px;

    /* border: 1px solid rgb(35, 99, 121); */

  }

  .mainText {
    font-size: 13px;
    position: relative;
    left: 22px;
    /* border: 1px solid rgb(68, 45, 130); */
    width: 320px;
    top: 10px;

  }

  .programSection {
    width: 400px;
    height: 980px;
    flex-direction: column;
    right: 10px;
    align-items: center;

  }

  .leftSection {
    width: 310px;
    height: 395px;
  }

  .leftSectionCardList {
    width: 310px;
    position: relative;
    right: 20px;
    top: 0px;
    font-size: 13px;
  }

  .CardSection {
    width: 310px;
    height: 660px;
    margin-bottom: 500px;
  }

  .rightCard img {
    top: 0;
    width: 309px;
    position: relative;
  }

  .CardHeading {
    position: relative;
    font-size: 20px;
  }

  .CardSectionText {
    position: relative;
    top: 20px;
    left: 12px;
    width: 295px;
    font-size: 13px;
  }

  .learnMoreBtn {
    font-size: 13px;
    bottom: 8px;
    padding: 10px;
    left: 12px;

  }
}