.FooterMainContainer {
  background-color: #000;
  width: 1515px;
  height: 530px;
  position: relative;
  right: 160px;
  padding-top: 50px;
}

.leftSectionHeading {
  position: relative;
  left: 220px;
  width: 460px;
  top: 24px;
}

.leftSectionHeading h2 {
  font-size: 26px;
  font-weight: 400;
  line-height: 36px;
  color: #fff;

}

.socialIcons {
  display: flex;
  align-items: center;
  position: relative;
  top: 80px;
  font-size: 23px;
  left: 8px;
  color: rgb(101, 101, 101);
  cursor: pointer;
}

.socialIcons>* {
  margin-right: 10px;
}

.rightSection {
  width: 460px;
  display: flex;
  justify-content: space-between;
  position: relative;
  left: 820px;
  bottom: 89px;
}

.companyInfoHeading h2 {
  font-size: 17px;
  font-weight: 400;
  color: rgb(101, 101, 101);
}

.companyInfoHeading>* {
  margin-bottom: 13px;
}

.companyInfoHeading p {
  cursor: pointer;
  color: #fff;
  font-size: 16px;
  font-weight: 400;
}

.BottomContainer {
  display: flex;
  justify-content: space-between;
  width: 1100px;
  position: relative;
  left: 220px;
  align-items: center;
  margin: 15px 0;
  color: #fff;

}

hr {
  border: 1px solid rgb(101, 101, 101);
  width: 1120px;
  position: relative;
  left: 210px;
}

.verticalLine {
  border-left: 1.5px solid rgb(101, 101, 101);
  margin: 0 10px;

}

.headerlogo img {
  width: 90px;
  height: 35px;
}


@media only screen and (max-width: 768px) {
  .FooterMainContainer {
    width: 316px;
    position: relative;
    left: 385px;

  }

  .leftSectionHeading {
    left: 0;
    width: 100%;
    top: 0;
  }

  .leftSectionHeading h2 {
    font-size: 17px;
    line-height: 20px;
    padding-left: 6px;
  }

  .socialIcons {
    top: 20px;
    padding-left: 6px;
  }

  .rightSection {
    width: 100%;
    left: 0;
    position: relative;
    top: 37px;
    padding: 12px;
  }

  .BottomContainer {
    flex-direction: column;
    position: relative;
    top: 37px;
    left: 0;
    align-items: flex-start;
  }

  hr {
    width: 315px;
    left: 0;
    position: relative;
    top: 37px;

  }
}