.MainTrainingContainer {
  width: 1520px;
  position: relative;
  right: 170px;
  background: #ffffff;
  padding: 20px 0;
}

.trainingContainer {
  display: flex;
  justify-content: space-between;
  padding: 48px 0;
  width: 1200px;
  position: relative;
  left: 170px;
}

.leftSide {
  position: relative;
  left: 55px;
  width: 500px;
  height: 200px;
}

.leftSide h1 {
  position: relative;
  top: 27px;
  color: #0d0d0d;
  font-size: 40px;
  font-weight: 500;
  line-height: 46px;

}

.leftSide p {
  position: relative;
  top: 32px;
  color: #161819;
  font-size: 14px;
  font-weight: 400;
  line-height: 22px;

}


.rightSide {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 18px;
  padding: 20px;
  width: 520px;
  position: relative;
  right: 40px;
}

.numberBox {
  text-align: center;
  font-size: 30px;
  font-weight: 100;
}

.numberBox p {
  color: rgb(86, 86, 86);
  font-size: 15px;

}


@media only screen and (max-width: 768px) {
  .MainTrainingContainer {
width: 316px;
position: relative;
left: 386px;
  }

  .trainingContainer{
    position: relative;
    left: 0px;
    display: flex;
    flex-direction: column;
    padding: 5px 0;
  }



.leftSide{
  width: 315px;
  position: relative;
  left: 0;
  padding: 10px;
}

.leftSide h1 {
  top: 0;
  color: #0d0d0d;
  font-size: 20px;
  line-height: 22px;
}

.leftSide p {
  position: relative;
  top: 12px;
  color: #161819;
  font-size: 17px;
  line-height: 20px;
}


.rightSide {
  width: 315px;
  width: 315px;
  position: relative;
  left: 0;
}

  .numberBox {
  position: relative;
  left: 35px;
  font-size: 30px;
  font-weight: 100;
} 

}