.MainTrainingContainer {
  background: #ffffff;
  padding: 20px 0;
}

.trainingContainer {
  display: flex;
  justify-content: space-between;
  position: relative;
}

.leftSide h1 {
  position: relative;
  color: #0d0d0d;
  font-weight: 500;
}

.leftSide p {
  position: relative;
  color: #161819;
  font-weight: 400;
}

.rightSide {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 18px;
  padding: 20px;
  width: 520px;

}

.numberBox {
  text-align: center;
  font-weight: 100;
}

.numberBox>h1 {
  font-size: 38px;

}

.numberBox p {
  color: rgb(86, 86, 86);
  font-size: 15px;

}


@media only screen and (min-width: 992px) {

  .MainTrainingContainer {
    width: 1520px;
    position: relative;
    right: 170px;
    background: #ffffff;
    padding: 20px 0;
  }

  .trainingContainer {
    padding: 48px 0;
    width: 1200px;
    left: 170px;
  }

  .leftSide {
    position: relative;
    left: 55px;
    width: 500px;
    height: 200px;
  }

  .leftSide h1 {
    top: 27px;
    font-size: 40px;
    line-height: 46px;

  }

  .leftSide p {
    top: 32px;
    font-size: 14px;
    line-height: 22px;

  }


  .rightSide {
    position: relative;
    right: 40px;
  }

  .numberBox {
    font-size: 30px;
  }

}

@media only screen and (max-width: 768px) {
  .MainTrainingContainer {
    width: 100%;
    position: relative;
    left: 0px;
  }

  .trainingContainer {
    position: relative;
    left: 0px;
    display: flex;
    flex-direction: column;
    padding: 5px 0;
  }



  .leftSide {
    width: 365px;
    position: relative;
    left: 16px;
    padding: 10px;
    display: flex;
    flex-direction: column;
  }

  .leftSide h1 {
    font-size: 20px;
    width: 320px;
    position: relative;
    top: 10px;
    left: 25px;
  }

  .leftSide p {
    font-size: 13px;
    position: relative;
    left: 24px;
    top: 16px;
    width: 320px;
  }

  .rightSide {
    width: 315px;
    height: 460px;
    position: relative;
    left: 52px;
    top: 5px;
  }

  .numberBox h1{
    position: relative;
    left: 35px;
  }
  .numberBox p {
    font-size: 14px;
    position: relative;
    left: 35px;  
  }
  
}