* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.body-container {
  font-family: "Mona Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;  ;
  display: flex;
  justify-content: center;
  align-items:center ;
}

.App {
  width: 1200px;
}