.ProgramsMainContainer {
    width: 1520px;
    position: relative;
    right: 170px;
    background: #fafafa;
    padding-bottom: 20px;
}

.programsContainer {
    background: #fafafa;
    padding: 30px 0;
}

.programHeaderContainer {
    text-align: center;
}

.programHeaderContainer>h1 {
    margin-bottom: 10px;
    font-size: 46px;
    font-weight: 400;
    color: #0d0d0d;
    line-height: 46px;
  }

.programHeaderContainer>p {
    margin-bottom: 10px;
    color: #161819;
    font-size: 16px;
    font-weight: 400;
    line-height: 25px;
  
}
.programDetailsContainer {
    display: flex;
    width: 1200px;
    height: 550px;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 30px;
    padding: 20px 0;
    position: relative;
    left: 170px;
}

.programCardContainer {
    padding: 20px;
    width: 520px;
    height: 245px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.programCardType {
    font-size: 15px;
    color: blue;
    font-weight: 400;
}

.programCardTitie {
    margin-bottom: 10px;
    font-size: 20px;
    font-weight: 400;
    color: #000000;
}

.programCardDescription {
    color: #3d3d4e;
    font-size: 14px;
}

.programCardFooter button {
    padding: 12px;
    font-size: 15px;
    font-weight: 400;
    border: none;
    border-radius: 9px;
    background-color: #fff;
    border: 1px solid rgb(159, 159, 159);
    color: #3d3d4e;
}

.greenText {
    color: green;
    font-size: 15px;
    font-weight: 400;
}


  .programCardDescription {
    font-size: 14px;
  }

  .programCardFooter button {
    padding: 10px;
    font-size: 14px;
  }

  .greenText {
    font-size: 14px;
  }





  @media only screen and (max-width: 768px) {
    .ProgramsMainContainer {
      height: 1650px;
      width: 316px;
      position: relative;
      left: 386px;
    }

.programDetailsContainer{
    display: grid;
    flex-direction: row;
    width: 100%;
    position: relative;
    left: 0;
    top: 0;
    padding: 15px;
}
.programHeaderContainer>h1 {
    font-size: 25px;
    font-weight: 400;
    color: #0d0d0d;
    line-height: 27px;
  }


.programCardContainer {
    padding: 20px;
    width: 300px;
    height: 340px;
}


.programCardTitie {
    margin-bottom: 10px;
    font-size: 20px;
    font-weight: 400;
    color: #000000;
}

.programCardDescription {
    font-size: 13.6px;
    font-weight: 400;
}


  }
