.ProgramsMainContainer {
    width: 1520px;
    position: relative;
    right: 170px;
    background: #fafafa;
    padding-bottom: 20px;
}

.programsContainer {
    background: #fafafa;
    padding: 30px 0;
}

.programHeaderContainer {
    text-align: center;
}

.programHeaderContainer>h1 {
    margin-bottom: 10px;
    letter-spacing: 2px;
    font-size: 46px;
    font-weight: 400;
    color: #000000;
}

.programHeaderContainer>p {
    margin-bottom: 10px;
    color: rgb(0, 0, 0);
    font-size: 14.5px;
    letter-spacing: 1px;  

}
.programDetailsContainer {
    display: flex;
    width: 1200px;
    height: 550px;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 30px;
    padding: 20px 0;
    position: relative;
    left: 170px;
}

.programCardContainer {
    padding: 20px;
    width: 520px;
    height: 245px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.programCardType {
    font-size: 14px;
    color: blue;
    font-weight: 400;
}

.programCardTitie {
    margin-bottom: 10px;
    font-size: 20px;
    font-weight: 400;
    color: #000000;
}

.programCardDescription {
    color: #3d3d4e;
    font-size: 14px;
}

.programCardFooter button {
    padding: 12px;
    font-size: 15px;
    font-weight: 400;
    border: none;
    border-radius: 9px;
    background-color: #fff;
    border: 1px solid rgb(159, 159, 159);
    color: #3d3d4e;
}

.greenText {
    color: green;
    font-size: 14px;
    font-weight: 400;
}